body{ 
    padding:0;
    margin:0;
    font-family:Quantico, sans-serif;
    display: flex;
    flex-direction: column;

    
}
.header, .footer{
    /*height: 70px;*/
    background-color: #1F2937;
    display: flex;
   
    align-items: center;
    padding:25px 170px;
}
.header{
    justify-content: space-between;
}
.headerleft{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}
.top{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding:70px 170px 100px 170px;
    align-items: flex-start;
    /*height:300px;*/
    gap:100px;

}
.tophead{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.toptext{
    color: #E5E7EB; 
    font-size: 18px;
    padding-bottom: 5px;
}
.topbutt button{
    font-family: Quantico, sans-serif;
    font-size: 18px;
    color: white;
    background-color: #3882F6;
    border-color: #F9FAF8;
    padding:5px 20px;
    /*height: 40px;
    width: 120px;*/
    border-radius: 10px;
}
.topimg{
    width:auto;
    height: 250px;
}
.center1{
    padding:50px 220px 100px 220px;
   
}
.center1head{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    padding-bottom: 25px;
}
.imgbox{
    display: flex;
    justify-content: center;
    gap:15px;
    
}
.center1img{
    min-height:200px;
    min-width:200px;
    max-height:200px;
    max-width:200px;
    border: 2px solid blue;
    border-radius: 20px;

}
.imgtext{
    font-size:18px;
    text-align: center;
    padding:5px 7px;
}

.center2{
    background-color: #E5E7EB;
    /*height:400px;*/
    color: #1F2937;
    padding:75px 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center2head{
    text-align: left;
    font-family:Qwigley, sans-serif;
    font-size: 55px;
}
.center2ref{
    text-align: right;
    font-family:Qwigley, sans-serif;
    font-weight: 700;
    font-size: 32px;
}
 .bottom{
     
     padding: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
.bottomcont{
    background-color: #3882F6;
    color:#F9FAF8;
    border: 0px none;
    /*height: 150px;*/
    padding:20px 200px;
    /*width: 1000px;*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    
}
.bconttext1{
    font-size: 32px;
    font-weight: 700px;
}
.bconttext2{
    font-size: 18px;
}
.bottombutt{
    font-family:Quantico, sans-serif;
    border-color: #F9FAF8;
    color: #F9FAF8;
    background-color: #3882F6;
    /*height: 45px;*/
    /*width: 150px;*/
    padding:5px 20px;
    border-radius: 10px;
    font-size: 18px;
    
}

















.footer{
    justify-content: center;
    color: #F9FAF8;
}