body{ 
    padding:0;
    margin:0;
    font-family: Pattaya, sans-serif;
    
}
.header{
    height: 70px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 100px;
}
.left{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    font-size: 18px;
    text-decoration:none;
    color:#E5E7EB;
}