body{ 
    padding:0;
    margin:0;
    font-family: Pattaya, sans-serif;
    display: flex;
    flex-direction: column;

    
}
.header, .footer{
    height: 70px;
    background-color: #1F2937;
    display: flex;
   
    align-items: center;
    padding:0px 100px;
}
.header{
    justify-content: space-between;
}
.headerleft{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    font-size: 18px;
    text-decoration:none;
    color:#E5E7EB;
}


.footer{
    justify-content: center;
    color: #F9FAF8;
}